<?php
return array(
	'CONFIG_VERSION' => '1.36',
	'authBackend' => '{{ organizr.config.auth.backend }}',
	'authBackendCreate' => 'true',
	'authBackendDomain' => '{{ organizr.config.auth.domain }}',
	'authBackendHost' => '{{ organizr.config.auth.host }}',
	'authType' => 'both',
	'calTimeFormat' => 'h:mmt',
	'calendarEndDay' => '365',
	'calendarStart' => '1',
	'calendarStartDay' => '365',
	'database_Location' => '/config/www/',
	'homepageCustomHTML1Auth' => 'false',
	'notifyEffect' => 'attached-flip',
	'nzbgetHomeAuth' => 'false',
	{% for service in services %}
	{% if service.name == "NZBGet"  %}
	'nzbgetURL' => '{{ service.proxy_pass }}',
	{% endif %}
	{% endfor %}
	{% for service in services %}
	{% if service.name == "Radarr"  %}
	'radarrKey' => '{{ radarr.config.apikey }}',
	'radarrURL' => '{{ service.proxy_pass }}',
	{% endif %}
	{% endfor %}
	'slimBar' => 'true',
	{% for service in services %}
	{% if service.name == "Sonarr"  %}
	'sonarrKey' => '{{ sonarr.config.apikey }}',
	'sonarrURL' => '{{ service.proxy_pass }}',
	{% endif %}
	{% endfor %}
	'speedTest' => 'false',
	'timezone' => '{{ timezone }}',
	'user_home' => '/config/www/users/'
);
