{
    "auth": {
        "authType": "none",
        "rememberUsers": true,
        "restrictAdmin": false,
        "restrictDetailsDl": false,
        "restrictIndexerSelection": false,
        "restrictSearch": false,
        "restrictStats": false,
        "users": []
    },
    "categories": {
        "categories": {
            "anime": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 15000,
                "min": 50,
                "newznabCategories": [
                    5070
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "audio": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 2000,
                "min": 1,
                "newznabCategories": [
                    3000
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "audiobook": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 1000,
                "min": 50,
                "newznabCategories": [
                    3030
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "comic": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 250,
                "min": 1,
                "newznabCategories": [
                    7030
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "console": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 40000,
                "min": 100,
                "newznabCategories": [
                    1000
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "ebook": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 100,
                "min": null,
                "newznabCategories": [
                    7020,
                    8010
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "flac": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 2000,
                "min": 10,
                "newznabCategories": [
                    3040
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "movies": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 20000,
                "min": 500,
                "newznabCategories": [
                    2000
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "movieshd": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 20000,
                "min": 3000,
                "newznabCategories": [
                    2040,
                    2050,
                    2060
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "moviessd": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 3000,
                "min": 500,
                "newznabCategories": [
                    2030
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "mp3": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 500,
                "min": 1,
                "newznabCategories": [
                    3010
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "pc": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 50000,
                "min": 100,
                "newznabCategories": [
                    4000
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "tv": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 5000,
                "min": 50,
                "newznabCategories": [
                    5000
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "tvhd": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 4500,
                "min": 300,
                "newznabCategories": [
                    5040
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "tvsd": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "never",
                "max": 1000,
                "min": 50,
                "newznabCategories": [
                    5030
                ],
                "requiredRegex": null,
                "requiredWords": null
            },
            "xxx": {
                "applyRestrictions": "both",
                "forbiddenRegex": null,
                "forbiddenWords": [],
                "ignoreResults": "both",
                "max": 10000,
                "min": 100,
                "newznabCategories": [
                    6000
                ],
                "requiredRegex": null,
                "requiredWords": null
            }
        },
        "enableCategorySizes": true
    },
    "downloaders": [
        {
            "downloadType": "{{ nzbhydra.config.downloaders.downloadType }}",
            "enabled": true,
            "host": "{{ nzbhydra.config.downloaders.host }}",
            "iconCssClass": "",
            "name": "{{ nzbhydra.config.downloaders.name }}",
            "nzbAddingType": "link",
            "nzbaccesstype": "redirect",
            "password": "{{ nzbhydra.config.downloaders.password }}",
            "port": {{ nzbhydra.config.downloaders.port }},
            "ssl": {{ nzbhydra.config.downloaders.ssl }},
            "type": "{{ nzbhydra.config.downloaders.type }}",
            "username": "{{ nzbhydra.config.downloaders.username }}"
        }
    ],
    "indexers": [
        {
            "accessType": "both",
            "categories": [
                "anime"
            ],
            "downloadLimit": null,
            "enabled": {{ nzbhydra.config.indexers.internal.anizb.enabled }},
            "generate_queries": true,
            "hitLimit": 0,
            "hitLimitResetTime": null,
            "host": "https://anizb.org",
            "loadLimitOnRandom": null,
            "name": "anizb",
            "password": null,
            "preselect": true,
            "score": 0,
            "searchTypes": [],
            "search_ids": [],
            "showOnSearch": true,
            "timeout": null,
            "type": "anizb",
            "username": null
        },
        {
            "accessType": "internal",
            "categories": [],
            "downloadLimit": null,
            "enabled": {{ nzbhydra.config.indexers.internal.binsearch.enabled }},
            "generate_queries": true,
            "hitLimit": 0,
            "hitLimitResetTime": null,
            "host": "https://binsearch.info",
            "loadLimitOnRandom": null,
            "name": "Binsearch",
            "password": null,
            "preselect": true,
            "score": 0,
            "searchTypes": [],
            "search_ids": [],
            "showOnSearch": true,
            "timeout": null,
            "type": "binsearch",
            "username": null
        },
        {
            "accessType": "internal",
            "categories": [],
            "downloadLimit": null,
            "enabled": {{ nzbhydra.config.indexers.internal.nzbclub.enabled }},
            "generate_queries": true,
            "hitLimit": 0,
            "hitLimitResetTime": null,
            "host": "https://www.nzbclub.com",
            "loadLimitOnRandom": null,
            "name": "NZBClub",
            "password": null,
            "preselect": true,
            "score": 0,
            "searchTypes": [],
            "search_ids": [],
            "showOnSearch": true,
            "timeout": null,
            "type": "nzbclub",
            "username": null
        },
        {
            "accessType": "internal",
            "categories": [],
            "downloadLimit": null,
            "enabled": {{ nzbhydra.config.indexers.internal.nzbindex.enabled }},
            "generate_queries": true,
            "generalMinSize": 1,
            "hitLimit": 0,
            "hitLimitResetTime": null,
            "host": "https://nzbindex.com",
            "loadLimitOnRandom": null,
            "name": "NZBIndex",
            "password": null,
            "preselect": true,
            "score": 0,
            "searchTypes": [],
            "search_ids": [],
            "showOnSearch": true,
            "timeout": null,
            "type": "nzbindex",
            "username": null
        }
        {% for indexer in indexers %}
        ,{
            "accessType": "both",
            "animeCategory": "{{ indexer.animeCategory }}",
            "apikey": "{{ indexer.apikey }}",
            "audiobookCategory": "{{ indexer.audiobookCategory }}",
            "backend": "{{ indexer.backend }}",
            "categories": [],
            "comicCategory": "{{ indexer.comicCategory }}",
            "downloadLimit": null,
            "ebookCategory": "{{ indexer.ebookCategory }}",
            "enabled": true,
            "hitLimit": {{ indexer.hitLimit }},
            "hitLimitResetTime": {{ indexer.hitLimitResetTime }},
            "host": "{{ indexer.host }}",
            "loadLimitOnRandom": null,
            "magazineCategory": "{{ indexer.magazineCategory }}",
            "name": "{{ indexer.name }}",
            "password": {{ indexer.password }},
            "preselect": true,
            "score": 0,
            "searchTypes": [ {{ indexer.searchTypes }} ],
            "search_ids": [ {{ indexer.search_ids }}],
            "showOnSearch": {{ indexer.showOnSearch }},
            "timeout": null,
            "type": "{{ indexer.type }}",
            "userAgent": {{ indexer.userAgent }},
            "username": {{ indexer.username }}
      }
      {% endfor %}
    ],
    "main": {
        "apikey": "{{ nzbhydra.config.main.apikey }}",
        "branch": "master",
        "configVersion": 39,
        "debug": false,
        "dereferer": "{{ nzbhydra.config.main.dereferer }}",
        "externalUrl": null,
        "firstStart": 1492959124,
        "flaskReloader": false,
        "gitPath": null,
        "host": "0.0.0.0",
        "httpProxy": null,
        "httpsProxy": null,
        "isFirstStart": {{ nzbhydra.config.main.isFirstStart }},
        "keepSearchResultsForDays": {{ nzbhydra.config.main.keepSearchResultsForDays }},
        "logging": {
            "consolelevel": "INFO",
            "keepLogFiles": {{ nzbhydra.config.main.logging.keepLogFiles }},
            "logIpAddresses": {{ nzbhydra.config.main.logging.logIpAddresses }},
            "logMaxSize": {{ nzbhydra.config.main.logging.logMaxSize }},
            "logRotateAfterDays": {{ nzbhydra.config.main.logging.logRotateAfterDays }},
            "logfilelevel": "INFO",
            "logfilename": "nzbhydra.log",
            "rolloverAtStart": false
        },
        "pollShown": 0,
        "port": 5075,
        "repositoryBase": "https://github.com/theotherp",
        "runThreaded": true,
        "secret": "{{ nzbhydra.config.main.secret }}",
        "shutdownForRestart": false,
        "socksProxy": null,
        "ssl": false,
        "sslcert": null,
        "sslkey": null,
        "startupBrowser": {{ nzbhydra.config.main.startupBrowser }},
        "theme": "grey",
        "urlBase": "{{ nzbhydra.config.main.urlBase }}",
        "useLocalUrlForApiAccess": true
    },
    "searching": {
        "alwaysShowDuplicates": false,
        "applyRestrictions": "both",
        "duplicateAgeThreshold": 2,
        "duplicateSizeThresholdInPercent": 1,
        "forbiddenGroups": null,
        "forbiddenPosters": null,
        "forbiddenRegex": null,
        "forbiddenWords": "",
        "generate_queries": [
            "internal"
        ],
        "htmlParser": "{{ nzbhydra.config.searching.htmlParser }}",
        "idFallbackToTitle": [],
        "idFallbackToTitlePerIndexer": false,
        "ignorePassworded": false,
        "ignoreTemporarilyDisabled": false,
        "maxAge": {{ nzbhydra.config.searching.maxAge }},
        "nzbAccessType": "redirect",
        "removeLanguage": true,
        "removeObfuscated": true,
        "requiredRegex": null,
        "requiredWords": "",
        "timeout": 20,
        "userAgent": "NZBHydra"
    }
}
