<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ radarr.port.http }}</Port>
  <UrlBase>{{ radarr.config.urlbase }}</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>{{ radarr.port.https }}</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{ radarr.config.apikey }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>
