{
    "alt-speed-down": 50,
    "alt-speed-enabled": false,
    "alt-speed-time-begin": 540,
    "alt-speed-time-day": 127,
    "alt-speed-time-enabled": false,
    "alt-speed-time-end": 1020,
    "alt-speed-up": 50,
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",
    "blocklist-enabled": false,
    "blocklist-url": "http://www.example.com/blocklist",
    "cache-size-mb": 4,
    "dht-enabled": true,
    "download-dir": "{{  transmission.config.download_dir }}",
    "download-queue-enabled": true,
    "download-queue-size": 5,
    "encryption": 1,
    "idle-seeding-limit": {{ transmission.config.idle_seeding_limit }},
    "idle-seeding-limit-enabled": {{ transmission.config.idle_seeding_limit_enabled }},
    "incomplete-dir": "{{ transmission.config.incomplete_dir }}",
    "incomplete-dir-enabled": true,
    "lpd-enabled": {{ transmission.config.ldp_enabled }},
    "message-level": 2,
    "peer-congestion-algorithm": "",
    "peer-id-ttl-hours": 6,
    "peer-limit-global": {{ transmission.config.peer_limit_global }},
    "peer-limit-per-torrent": {{ transmission.config.peer_limit_per_torrent }},
    "peer-port": {{ transmission.config.peer_port }},
    "peer-port-random-high": 65535,
    "peer-port-random-low": 49152,
    "peer-port-random-on-start": {{ transmission.config.peer_port_random_on_start }},
    "peer-socket-tos": "default",
    "pex-enabled": true,
    "port-forwarding-enabled": true,
    "preallocation": 1,
    "prefetch-enabled": true,
    "queue-stalled-enabled": true,
    "queue-stalled-minutes": 30,
    "ratio-limit": {{ transmission.config.ratio_limit }},
    "ratio-limit-enabled": {{ transmission.config.ratio_limit_enabled }},
    "rename-partial-files": true,
    "rpc-authentication-required": false,
    "rpc-bind-address": "0.0.0.0",
    "rpc-enabled": true,
    "rpc-password": "{{ transmission.config.rpc_password }}",
    "rpc-port": {{ transmission.port.web }},
    "rpc-url": "{{ transmission.config.rpc_url }}",
    "rpc-username": "{{ transmission.config.rpc_username }}",
    "rpc-whitelist": "{{ transmission.config.rpc_whitelist }}",
    "rpc-whitelist-enabled": false,
    "scrape-paused-torrents-enabled": true,
    "script-torrent-done-enabled": false,
    "script-torrent-done-filename": "",
    "seed-queue-enabled": false,
    "seed-queue-size": 10,
    "speed-limit-down": {{ transmission.config.speed_limit_down }},
    "speed-limit-down-enabled": {{ transmission.config.speed_limit_enabled }},
    "speed-limit-up": 100,
    "speed-limit-up-enabled": false,
    "start-added-torrents": true,
    "trash-original-torrent-files": false,
    "umask": 2,
    "upload-slots-per-torrent": 14,
    "utp-enabled": true,
    "watch-dir": "/watch",
    "watch-dir-enabled": true
}
