---

- name: Install dependencies
  yum:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  become: true
  with_items:
    - yum-utils
    - python-pip

- name: Add Docker YUM repo
  command: yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
  args:
    creates: /etc/yum.repos.d/docker-ce.repo
  become: true

- name: Install Docker
  yum:
    name: docker-ce
    state: latest
    update_cache: yes
  become: true
