auth_ldap_cache_enabled on;
auth_ldap_cache_expiration_time 10000;
auth_ldap_cache_size 1000;

ldap_server {{ nginx.ldap.server }} {
    url {{ nginx.ldap.url }};

    binddn "{{ nginx.ldap.binddn.domain }}\\{{ nginx.ldap.binddn.user }}";
    binddn_passwd "{{ nginx.ldap.binddn.password }}";

    group_attribute member;
    group_attribute_is_dn on;

    require group "{{ nginx.ldap.group }}";
    require valid_user;
    satisfy all;
}
