server {
  listen 80;
  server_name {{ nginx.vms.domain }};

  location / {
    proxy_pass http://{{ nginx.vms.host }}.{{ nginx.vms.domain }}:{{ nginx.vms.port.http }};
    proxy_buffering off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Request-Start $msec;
    proxy_set_header X-Real-IP $remote_addr;
  }
}

server {
  listen 443 ssl;
  server_name {{ nginx.vms.domain }};

  include {{ nginx_container.directory }}/ssl.conf;

  location / {
    proxy_pass https://{{ nginx.vms.host }}.{{ nginx.vms.domain }}:{{ nginx.vms.port.https }};
    proxy_buffering off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Request-Start $msec;
    proxy_set_header X-Real-IP $remote_addr;
  }
}
